@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Gothic A1', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/********************** 글로벌 설정 *********************/
html,body {width: 100%; margin: auto; -ms-overflow-style:none;}
body::-webkit-scrollbar { display:none; }


.wrapper {}
.section-wrapper {height: 100vh;}
.section-wrapper > .section {width: 100%; height: 100vh; transform: translateX(100%)}
.main-section .menu-wrapper li {font-family: 'Roboto', sans-serif; font-weight: 300;}
.title {font-family: 'Roboto', sans-serif; font-weight: 400; font-style: italic; color: #43206b; font-size: 3.5em;}
.cont {font-family: 'Gothic A1', sans-serif; font-weight: 300; padding: 1em; color: #555; line-height: 1.5em; font-size: 1em;}
.bt {width: 130px; height: 40px; border-radius: 8px; background-color: #328bff; color: #fff; font-size: 1.5em; margin-left: 15em;}
.bt:hover {background-color: #fff; color: #328bff; animation-name: bt; animation-duration: .5s; animation-iteration-count: infinite; animation-direction: alternate;}


/********************** main-section *********************/
.main-section {}
.main-section .menu-wrapper {display: flex; justify-content: flex-end;}
.main-section .menu-wrapper li { font-size: 1.325em; font-weight: 400; color: #616161; padding: 1.25em; cursor: pointer;}
.main-section .menu-wrapper li:hover {color: #43206b; animation-name: bt; animation-duration: .5s; animation-iteration-count: infinite; animation-direction: alternate;}

.main-wrapper {position: relative; height: calc(100vh - 72px);}
.main-wrapper .bg-wrap {position: absolute; top: 30%;}
.main-wrapper .cont-wrap {position: relative; width: 100%; height: 100%; display: flex; flex-wrap: wrap;}

.main-wrapper .cont-wrap .title-wrapper {padding: 5em 0 5em 8em; width: 40%;}
.main-wrapper .cont-wrap .title-wrapper .title-main {opacity: 100; transition: all 2s}

.main-wrapper .cont-wrap .title-wrapper h1 {font-style: normal; font-size: 3em; margin-bottom: .5em; animation-name: h1; animation-duration: .5s; animation-direction: normal;}
.main-wrapper .cont-wrap .title-wrapper h2 {font-size: 4.5em; padding: 0 0 .75em 1em;}
.main-wrapper .cont-wrap .title-wrapper p {font-weight: 200; padding: 1em; color: #555; line-height: 1.5em; font-size: 1em;}

.main-wrapper .cont-wrap .ai-wrapper {width: 50%; height: 100%; position: relative;}
.main-wrapper .cont-wrap .ai-wrapper > .box {width: 450px; height: 450px; border-radius: 50%; position: absolute; background-color: #ecd9f1; left: 35%; top: 20%;}
.main-wrapper .cont-wrap .ai-wrapper > .pic-wrapper {position: relative; height: 100%; display: flex; justify-content: center; align-items: center; top: 10%;}
.main-wrapper .cont-wrap .ai-wrapper > .pic-wrapper .pic-wrap {position: relative;}
.main-wrapper .cont-wrap .ai-wrapper > .pic-wrapper .pic-wrap .pic-bg {position: absolute; top: -60%; left: -10%;}


@keyframes bt {
	0% {transform: rotate(-5deg)}
	100% {transform: rotate(5deg)}
}


/********************** about-section *********************/
.about-wrapper {position: relative;}
.about-wrapper .about-bg {position: absolute; width: 100%; height: 100vh; right: 0; background-color: #f3f3f3;}
.about-wrapper .about-bg .active {translate: 0, 100%; transition: all 3s;}



/********************** slide-section *********************/
.slide-section .menu-wrapper {display: flex; justify-content: flex-end;}
.slide-section .menu-wrapper li { font-size: 1.325em; font-weight: 400; color: #616161; padding: 1.25em; cursor: pointer;}
.slide-section .menu-wrapper li:hover {color: #43206b; animation-name: bt; animation-duration: .5s; animation-iteration-count: infinite; animation-direction: alternate;}

.slide-section .slide-wrapper {position: relative; width: 100%; height: calc(100vh - 72px); border: 2px solid green; display: flex;}
.slide-section .slide-wrapper .title-wrapper {width: 35%; height: 60%; padding: 3em 0 3em 5em; margin-top: 15%;}
.slide-section .slide-wrapper .title-wrapper h2 {font-size: 3em; padding: 0.5em; color: #777;}
.slide-section .slide-wrapper .title-wrapper p {font-weight: 200; padding: 1em; color: #555; line-height: 1.5em; font-size: 1em;}
.slide-section .slide-wrapper .title-wrapper .bt {margin: 1em 0 0 9em;}

.slide-section .slide-wrapper .img-wrapper {width: 65%; height: 100%; position: relative; border: 2px solid blue;}
.slide-section .slide-wrapper .img-wrapper .front {position: relative;}
.slide-section .slide-wrapper .img-wrapper > .box2 {width: 300px; height: 300px; position: absolute; background-color: #ecd9f1; transform: rotate(30deg);}
.slide-wrapper .img-wrapper > .pic-wrapper {position: relative;}
.slide-wrapper .img-wrapper > .pic-wrapper .pic-wrap {position: relative;}
.slide-wrapper .img-wrapper > .pic-wrapper .pic-wrap .pic-bg {position: absolute; left: 20%; top: 50%;}


/********************** project-section *********************/
/********************** contact-section *********************/
/********************** navbar-section *********************/
.navbar {position: fixed; z-index: 999; top: 50%; right: 15px; transform: translateY(-50%); }
.nav-menu li {position: relative; text-align: right; margin: 1.75em; }
.navbar .nav-menu li .dot::after {display: block;position: absolute; content: ''; border-radius: 20%; top: 50%; transition: all .3s ease;}
.navbar .nav-menu li .dot::after {width: 15px;height: 15px; background-color:#f1f1f1; right: 0px; transform: rotate(90deg);}
.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {background-color:#dbdbdb; transform: rotate(0);}



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
	.main-wrapper .cont-wrap .title-wrapper {padding: 5em 0 5em 8em; width: 100%;}
	.main-wrapper .cont-wrap .ai-wrapper {width: 100%; height: 100%;}
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}