@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Gothic A1', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/********************** 글로벌 설정 *********************/
html,body {width: 100%; margin: auto; -ms-overflow-style:none;}
body::-webkit-scrollbar { display:none;}

/* .section-wrapper {width:100%; height: 100vh;} */
.section-wrapper > .section {min-width: 100%; min-height: 100vh; transform: translateX(100%); flex-wrap: wrap;}
.main-section .menu-wrapper li {font-family: 'Roboto', sans-serif; font-weight: 300;}
.title {font-family: 'Roboto', sans-serif; font-weight: 400; color: #43206b; font-size: 3em;}
.cont {font-family: 'Gothic A1', sans-serif; font-weight: 300; color: #555; line-height: 1.3em; letter-spacing: -.5px; font-size: 1em;}
.bt {padding: .5em 1.25em; background-color: #328bff; color: #fff; border-radius: 4px; cursor: pointer; transition: all .55s}
.bt:hover {background-color: #fff; color: #328bff;;}


/********************** main-section *********************/
.main-section {}
.main-section .menu-wrapper {display: flex; justify-content: flex-end;}
.main-section .menu-wrapper li { font-size: 1em; font-weight: 400; color: #616161; padding: 1.25em; cursor: pointer;}
.main-section .menu-wrapper li:hover {color: #43206b;}

.main-wrapper {position: relative; height: calc(100vh - 72px);}
.main-wrapper .bg-wrap {position: absolute; top: 30%;}
.main-wrapper .cont-wrap {position: relative; width: 100%; height: 100%; display: flex;flex-wrap: wrap;}

.main-wrapper .cont-wrap .title-wrap {margin: 5em 0;}
.main-wrapper .cont-wrap .title-wrapper { width: 40%;}

.main-wrapper .cont-wrap .title-wrapper h1 {font-style: normal; display: flex; justify-content: center; font-size: 3em; margin-bottom: .5em; animation-name: h1; animation-duration: .5s; animation-direction: normal;}
.main-wrapper .cont-wrap .title-wrapper h2 { display: flex; justify-content: center;}
.main-wrapper .cont-wrap .title-wrapper p {display: flex; justify-content: center;margin: 0 3em;}

.main-wrapper .cont-wrap .ai-wrapper {width: 60%; height: 100%; position: relative;}
.main-wrapper .cont-wrap .ai-wrapper > .box-move {width: 450px; height: 450px; border-radius: 50%; position: absolute; background-color: #ecd9f1; left: 35%; top: 20%;}
.main-wrapper .cont-wrap .ai-wrapper > .pic-wrapper {position: relative; height: 100%; display: flex; justify-content: center; align-items: center; top: 10%;}
.main-wrapper .cont-wrap .ai-wrapper > .pic-wrapper .pic-wrap {position: relative;}
.main-wrapper .cont-wrap .ai-wrapper > .pic-wrapper .pic-wrap .pic-bg {position: absolute; top: -60%; left: -10%;}




/********************** about-section *********************/
.about-section {}
.about-wrapper {border: 1px solid green; width: 30%; flex-wrap: wrap; display: flex; justify-content: flex-start;}
.about-wrapper .box-img {width: 15em; height: 20em; background-color: #f1f1f1;}
.about-wrapper .about-info { display: flex; justify-content: center;}
.about-wrapper .about-name {font-size: 2.5em;}
























/********************** slide-section *********************/
.slide-section {border: 1px solid red;}
.slide-section .menu-wrapper {display: flex; justify-content: flex-end;}
.slide-section .menu-wrapper li { font-size: 1em; font-weight: 400; color: #616161; padding: 1.25em; cursor: pointer;}
.slide-section .menu-wrapper li:hover {color: #43206b;}

.slide-wrapper {width: 100%; position: relative; display: flex; justify-content: space-between; align-items: flex-end; overflow: hidden; padding: 3em 5em;}
.slide-wrapper {flex-wrap: wrap;}
.slide-wrapper > .bt-slide {font-size: 3em; position: absolute; top: 50%; transform: translateY(-50%); z-index: 99;}
.slide-wrapper > .bt-slide.bt-prev {left: 3%; color: #888;}
.slide-wrapper > .bt-slide.bt-next {right: 3%; color: #888;}
.slide-wrapper > .lt-wrap {width: 40%; padding: 0 1em 2em 1em; border: 1px solid red; }
.slide-wrapper > .rt-wrap {width: 60%; padding: 0 1em; position: relative; border: 1px solid blue;}

.slide-wrapper > .lt-wrap .title-sub {font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 2.5em; color: #888;}
.slide-wrapper > .lt-wrap .cont-sub {font-family: 'Gothic A1', sans-serif; font-weight: 300; font-size: .85em; line-height: 1.5; letter-spacing: -1px; color: #555; margin: 2em 0;}
.slide-wrapper > .lt-wrap a .bt-show { display: block; padding: .5em 1.25em; background-color: #328bff; color: #fff; border-radius: 4px;}
.slide-wrapper > .lt-wrap a .bt-show:hover {background-color: #fff; color: #328bff;}

.slide-wrapper > .rt-wrap .img-back {width: 70%; transform: translate(0%, 10%);}
.slide-wrapper > .rt-wrap .nemo {padding: 17%; position: absolute; top: 55%; left:40%; transform: translate(0, -40%) rotate(30deg); background-color: red;}
.slide-wrapper > .rt-wrap .img-front {width: 50%; margin-left: auto; position: relative; transform: translate(10%, -10%)}
.slide-wrapper > .rt-wrap .img-front .img-wrap {width: 250px; height: 160px; overflow: hidden;}
.slide-wrapper > .rt-wrap .img-front .img-wrap:hover .img {transform: translateY(-38vw);}
.slide-wrapper > .rt-wrap .img-front .img-wrap .img {transition: all 5s;} 





.slide-wrapper .title-sub {transition: all .55s;}
.slide-wrapper .cont-sub {transition: all .55s; transition-delay: .125s;}
.slide-wrapper .bt-show {transition: all .55s; transition-delay: .225s;}
.slide-wrapper .img-back {transition: all .55s;}
.slide-wrapper .nemo {transition: all .55s; transition-delay: .225s;}
.slide-wrapper .img-front {transition: all .55s; transition-delay: .125s; transform: 2s;}

.slide-wrapper.active .title-sub {transform: translateX(-50vw);}
.slide-wrapper.active .cont-sub {transform: translateX(-50vw);}
.slide-wrapper.active .bt-show {transform: translateX(-50vw);}
.slide-wrapper.active .img-back {transform: translateX(60vw);}
.slide-wrapper.active .nemo {transform: translateX(60vw);}
.slide-wrapper.active .img-front {transform: translateX(50vw);}



/********************** project-section *********************/
/********************** contact-section *********************/
/********************** navbar-section *********************/
.navbar {position: fixed; z-index: 999; top: 50%; right: 15px; transform: translateY(-50%); }
.nav-menu li {position: relative; text-align: right; margin: 1.75em; }
.navbar .nav-menu li .dot::after {display: block; position: absolute; content: ''; border-radius: 20%; top: 50%; transition: all .3s ease;}
.navbar .nav-menu li .dot::after {width: 15px;height: 15px; background-color:#f1f1f1; right: 0px; transform: rotate(90deg);}
.navbar .nav-menu li .dot.active::after,
.navbar .nav-menu li:hover .dot::after {background-color:#dbdbdb; transform: rotate(0);}



/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	.slide-section .slide-wrapper .title-wrapper {width: 50%; order: 2;}
	.slide-section .slide-wrapper .img-wrapper {width: 80%; order: 1;}

	.slide-section .slide-wrapper .lt-wrap {width: 100%; order: 2;}
	.slide-section .slide-wrapper .rt-wrap {width: 100%; order: 1}
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
	.main-wrapper .cont-wrap .ai-wrapper {display: none;}
	.main-wrapper .cont-wrap .title-wrapper {width: 100%;}
	.main-wrapper .cont-wrap .ai-wrapper {width: 100%; height: 100%;}
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}
