.wrapper {max-width: 1200px; margin: 100px auto;}
.slide-wrapper {width: 100%; position: relative; display: flex; justify-content: space-between; align-items: flex-end; overflow: hidden; padding: 0 4em;}
.slide-wrapper > .bt-slide {font-size: 5em; position: absolute; top: 50%; transform: translateY(-50%); z-index: 99;}
.slide-wrapper > .bt-slide.bt-prev {left: 0;}
.slide-wrapper > .bt-slide.bt-next {right: 0;}
.slide-wrapper > .lt-wrap {width: 38%; }
.slide-wrapper > .rt-wrap {width: 58%; position: relative;}

.slide-wrapper > .lt-wrap .title {font-size: 3em; margin-bottom: .5em;}
.slide-wrapper > .lt-wrap .content {font-size: 1.25em; line-height: 1.5;}
.slide-wrapper > .lt-wrap .bt-show {padding: .75em 1.25em; background-color: #0b5ed7; color: #fff; border-radius: 4px; margin: 2em auto; display: block;}

.slide-wrapper > .rt-wrap .img-back {width: 70%;}
.slide-wrapper > .rt-wrap .box {padding: 15%; position: absolute; top: 50%; left: 50%; transform: translate(0, -40%) rotate(25deg); background-color: red;}
.slide-wrapper > .rt-wrap .img-front {width: 50%; margin-left: auto; position: relative; transform: translate(-10%, -20%)}

.slide-wrapper .title {transition: all .55s;}
.slide-wrapper .content {transition: all .55s; transition-delay: .125s;}
.slide-wrapper .bt-show {transition: all .55s; transition-delay: .225s;}
.slide-wrapper .img-back {transition: all .55s;}
.slide-wrapper .box {transition: all .55s; transition-delay: .225s;}
.slide-wrapper .img-front {transition: all .55s; transition-delay: .125s;}

.slide-wrapper.active .title {transform: translateX(-50vw);}
.slide-wrapper.active .content {transform: translateX(-50vw);}
.slide-wrapper.active .bt-show {transform: translateX(-50vw);}
.slide-wrapper.active .img-back {transform: translateX(50vw);}
.slide-wrapper.active .box {transform: translateX(50vw);}
.slide-wrapper.active .img-front {transform: translateX(50vw);}
